body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background-image: url('Background.png'); /* Replace with your actual PNG file path */
    background-size: cover;         /* Makes sure the image covers the whole screen */
    background-position: center;    /* Keeps the image centered */
    background-repeat: no-repeat;   /* Stops it from repeating */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#verticalButtons{
    display:flex;
    flex-direction:column;
}

button{
    border: none;
    border-radius: 5px;
    padding: 5px 5px 7px 5px;
    margin: 2px;
    cursor:pointer;
}
button:hover{
    background:rgb(255, 200, 0);
}

#networkCanvas{
    background:black;
}
#carCanvas{
    background:rgb(45, 39, 39);
}